@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --headerHeight: 5rem;

  --primaryColor: #0073A8;
  --secondColor: #10B5CB;
  --whiteColor: #ffffff;
  --blackColor: #1B2D36;
  --textColor: #58585F;
  --whiteColorDeam: #EDEDED;
  --greyText: rgb(190, 190, 190);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(255, 255, 235);

  --font-poppins: "Poppins", sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;  
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: var(--primaryColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover {
  background-color: var(--secondColor);
}

img, video {
  width: 100%;
  height: auto;
}

body {
  background: var(--bodyColor);
}

.section {
  max-width: 1100px;
  padding: calc(var(--headerHeight) + 1rem) 1rem;
  margin: auto;
}

.sectionTitle {
  text-align: center;
  font-family: var(--font-raleway);
  font-size: 2rem;
  position: relative;
  margin-bottom: 3rem;
}

.sectionTitle::after {
  content: "";
  width: 8rem;
  height: 2px;
  background-color: var(--blackColor);
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%);
}








